body{
    font-family: 'Raleway', sans-serif;
}
.features_list_header{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    color: #333333;
}


/*-------------- s1_header -------------*/
.s1_header_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: "foetus_text foetus_text img_description img_description"
                         "information information img_description img_description"
                         "information information img_description img_description"
}

.foetus_text{
    grid-area: foetus_text;
    grid-row: 1;
}
.information{
    grid-area: information;
    grid-row: 2;
    padding-top: 160px;
}
.img_description{
    grid-area: img_description;
}



.subscribe_button{
    padding: 11px 43px;
    background: #18206F;
    border-radius: 0px 5px 5px 0px;
}
.vanish{
    border: none;
    padding: 11px 43px;
    height: 49px;
    background-color: #F2F3FF;
}

/*-------------- s2_app_features1 -------------*/
.s2_app_features1_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features1_image s2_app_features1_image s2_app_features1_text s2_app_features1_text"
                         "s2_app_features1_image s2_app_features1_image s2_app_features1_text s2_app_features1_text"
                         "s2_app_features1_image s2_app_features1_image s2_app_features1_text s2_app_features1_text"
}
.s2_app_features1_image{
    grid-area: s2_app_features1_image;
}
.s2_app_features1_text{
    grid-area: s2_app_features1_text;
    grid-row: 2;
}

.features_heading{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
}
.app_underline{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.app_underline:before{
    content: "";
    position: absolute;
    width: 120%;
    height: 10px;
    bottom: 0;
    border-bottom: 2px solid #FF5573;
}
/*-------------- s2_app_features2 -------------*/
.s2_app_features2_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features2_text s2_app_features2_text s2_app_features2_image s2_app_features2_image"
                         "s2_app_features2_text s2_app_features2_text s2_app_features2_image s2_app_features2_image"
                         "s2_app_features2_text s2_app_features2_text s2_app_features2_image s2_app_features2_image"
}
.s2_app_features2_text{
    grid-area: s2_app_features2_text;
    grid-row: 2;
}
.s2_app_features2_image{
    grid-area: s2_app_features2_image;
    text-align: right;
}

/*-------------- s2_app_features3 -------------*/
.s2_app_features3_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features3_image s2_app_features3_image s2_app_features3_text s2_app_features3_text"
                         "s2_app_features3_image s2_app_features3_image s2_app_features3_text s2_app_features3_text"
                         "s2_app_features3_image s2_app_features3_image s2_app_features3_text s2_app_features3_text"
}
.s2_app_features3_image{
    grid-area: s2_app_features3_image;
}
.s2_app_features3_text{
    grid-area: s2_app_features3_text;
    grid-row: 2;
}

/*-------------- s2_app_features4 -------------*/
.s2_app_features4_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features4_text s2_app_features4_text s2_app_features4_image s2_app_features4_image"
                         "s2_app_features4_text s2_app_features4_text s2_app_features4_image s2_app_features4_image"
                         "s2_app_features4_text s2_app_features4_text s2_app_features4_image s2_app_features4_image"
}
.s2_app_features4_text{
    grid-area: s2_app_features4_text;
    grid-row: 2;
}
.s2_app_features4_image{
    grid-area: s2_app_features4_image;
    text-align: right;
}

/*-------------- s2_app_features5 -------------*/
.s2_app_features5_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features5_image s2_app_features5_image s2_app_features5_text s2_app_features5_text"
                         "s2_app_features5_image s2_app_features5_image s2_app_features5_text s2_app_features5_text"
                         "s2_app_features5_image s2_app_features5_image s2_app_features5_text s2_app_features5_text"
}
.s2_app_features5_image{
    grid-area: s2_app_features5_image;
}
.s2_app_features5_text{
    grid-area: s2_app_features5_text;
    grid-row: 2;
}

/*-------------- s2_app_features6 -------------*/
.s2_app_features6_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "s2_app_features6_text s2_app_features6_text s2_app_features6_image s2_app_features6_image"
                         "s2_app_features6_text s2_app_features6_text s2_app_features6_image s2_app_features6_image"
                         "s2_app_features6_text s2_app_features6_text s2_app_features6_image s2_app_features6_image"
}
.s2_app_features6_text{
    grid-area: s2_app_features6_text;
    grid-row: 2;
}
.s2_app_features6_image{
    grid-area: s2_app_features6_image;
    text-align: right;
}

/*-------------- s3_our_pricing -------------*/
.s3_our_pricing_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 15px;
}

@media (max-width: 992px){
    .s3_our_pricing_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}
}


#s3_our_pricing{background: #18206F;}
.money{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #FB637E;
}
.card_header{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.price_heading{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}
.our_underline{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.our_underline:before{
    content: "";
    position: absolute;
    width: 150%;
    height: 10px;
    bottom: 0;
    border-bottom: 2px solid #FF5573;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pointer {
  cursor: pointer;
}

/*-------------- s3_our_pricing_card_transction -------------*/
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background: #ffffff;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}

/*-------------- s4_get_started -------------*/

.s4_get_started_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    grid-template-areas: "email_pic email_pic email_form email_form"
                         "email_pic email_pic email_form email_form"
                         "email_pic email_pic email_form email_form"
    
}
.email_pic{
    grid-area: email_pic;
}
.email_form{
    grid-area: email_form;
    grid-row: 2;
}

.get_started_heading{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
}
.get_underline{
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
}
.get_underline:before{
    content: "";
    position: absolute;
    width: 120%;
    height: 10px;
    bottom: 0;
    border-bottom: 2px solid #FF5573;
}
/*-------------- s4_footer -------------*/
.icon_spacing{
    margin: 20px;
}
.s4_footer_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
    background: #18206F;
    grid-template-areas: "footer_icon footer_icon footer_icon"
                         "footer_head footer_head footer_head"
                         "footer_body footer_body footer_body"
}

.footer_head{
    grid-area: footer_head;
    text-align: center;
    font-family: Graphik;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 100.99%;
    color: #F43757;
}
.footer_body{
    grid-area: footer_body;
    text-align: center;
}
.footer_icon{
    grid-area: footer_icon;
    text-align: center;
    border-top:  1px solid rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}


@media (min-width: 992px){
    .s4_footer_grid{
    grid-gap: 10px;
    background: #18206F;
    grid-template-areas: "footer_head footer_body footer_icon"
                         "footer_head footer_body footer_icon"
                         "footer_head footer_body footer_icon"
}
   .footer_head{
    grid-area: footer_head;
    text-align: left;
    grid-row: 2/3;
}
.footer_body{
    grid-area: footer_body;
    padding-top: 20px;
    text-align: center;
    grid-row: 2/3;
}
.footer_icon{
    grid-area: footer_icon;
    text-align: right;
    padding: 1px;
    border-top: none;
}























